@charset "UTF-8"

body {
  font-family: 'Nunito Sans', sans-serif;
}

a {
	color: inherit;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

button:focus {
	outline: none;
}

.colorYellow {
  color: #ED8A19!important;
}

.homeReviewNo:before {
	content: '(';
}

.homeReviewNo:after {
	content: ')';
}

.home .MuiGridListTile-tile {
	overflow: visible;
}

.dropdown-toggle::after {
	display: none;
}

.dropdown-item:active {
	color: inherit;
	background-color: inherit;
}

@media only screen and (max-width: 767px) {
	
	.docProfile {
		background-color: #4A6BC5;
	}

	.docProfile--icons {
		background-color: #fff!important;
	}
}

@media only screen and (min-width: 768px) {

	.container-fluid {
		background-color: #fff!important;
	}
}